.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.todo-heading {
  color: #ff9900;
  font-size: 50px;
}

.todo-input,
.todo-button  {
  padding: 10px 15px;
  border: 1px solid #ff9900;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

.todo-input {
  width: 200px;
  margin-right: 25px;
}

.todo-button {
  background-color: #ff9900;
  color: #fff;
  cursor: pointer;
}

.todo-item {
  text-align: left;
  clear: both;
}

.todo-item .todo-button {
  float: right;
}
